<style> body {
 background-image: url('https://i.imgur.com/c1APieV.gif');
 background-size: cover; 
 color: black;
 font-family: 'Courier New', monospace;
 font-size:1.1em;
}
:-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
#main {
width:80%;
margin:auto;
}

#container {
  max-width:1040px;
  margin:auto;
  }
  body a{color:blue;
  text-decoration:none;}
  body a:hover{color:red;
  text-decoration:underline;}
  body a:active{color:purple;
  text-decoration:underline;}

  .navbar {margin-bottom:1em;
  margin-top:1em;
  display:flex;
  flex-direction:row;
  margin-left:auto;}
  .floaty {display:flex;
  flex-direction:row;}
  .top {
  border: .9em solid transparent;
  background-color:white;
  border-image: url(https://i.imgur.com/6rFzNqj.png) 120 stretch;
  width:35%;
  text-align:center;
  margin:auto;}

body {
 background-image: url('https://i.imgur.com/c1APieV.gif');
 background-size: cover; 
 color: black;
 font-family: 'Courier New', monospace;
 font-size:1.1em;
}
:-webkit-scrollbar {
  display: none;
}
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
#main {
width:80%;
margin:auto;
}


h1, h2, h3 {font-family: 'Comic Sans MS', monospace;
font-variant:small-caps;
color:red;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;}
h1 {font-size:2.3em;}
h2 {font-size:1.8em;}
h3 {font-size:1.4em;}
p {margin:2%}
.box2 a{color:blue;
  text-decoration:none;}
  .box2 a:hover{color:red;
  text-decoration:underline;}
  .box2 a:active{color:purple;
  text-decoration:underline;}
 .box2 a:visited{color:purple;}
.box {
  background-color: #ffffff;
  border: .1em black solid;
  margin-top:.5%;
  margin-left:auto;
  margin-right:auto; 
  padding:.5%;
  width:98%;
}

.box2 {
  background-color: #ffffff;
  margin-top:.5%; 
  width:100%;
  padding:1%;
  height:29.5em;
  overflow-y:scroll;
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */

ul {list-style-type:none;}
#contain {
  display:         flex;
  flex-wrap:       wrap;
  justify-content: center;
}

.date {border-bottom: .2em dashed blue;
text-align: right;}



  .navi{
  padding:.5%;
  text-align:center;
  background-color:white;
    word-spacing:2em;
    margin:auto;}
@media (max-width: 600px) {
    #main {width:100%;}
    #shortnav {height:auto;}
    #ads {display:none;}
    #abs {display:none;}
.box {width:100% !important;}
.box2 {width:100% !important;}
 @media (max-width:800px) {
  #main {width:100%;}
  
 }
 @media (max-width:1000px) {
  #main {width:70% !important;}
 }

 @media (max-width:1250px) {
  #main {width:70% !important;}
 }
  .navbar a{color:black!important;}
  .navbar a:hover{color:red!important;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
    text-decoration:none !important;}
  main {width:100%;
  margin:auto;}

h1, h2, h3 {font-family: 'Comic Sans MS', monospace;
font-variant:small-caps;
color:red;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;}
h1 {font-size:2.3em;}
h2 {font-size:1.8em;}
h3 {font-size:1.4em;}
p {margin:2%}
.box2 a{color:blue;
  text-decoration:none;}
  .box2 a:hover{color:red;
  text-decoration:underline;}
  .box2 a:active{color:purple;
  text-decoration:underline;}
 .box2 a:visited{color:purple;}
.box {
  background-color: #ffffff;
  border: .1em black solid;
  margin-top:.5%;
  margin-left:auto;
  margin-right:auto; 
  padding:.5%;
  width:98%;
}

.box2 {
  background-color: #ffffff;
  margin-top:.5%; 
  width:100%;
  padding:1%;
  height:29.5em;
  overflow-y:scroll;
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */

ul {list-style-type:none;}
#contain {
  display:         flex;
  flex-wrap:       wrap;
  justify-content: center;
}

.date {border-bottom: .2em dashed blue;
text-align: right;}




</style>
