 body {
 background-image: url('https://i.imgur.com/c1APieV.gif');
 background-size: cover; 
 color: black;
 font-family: 'Courier New', monospace;
 font-size:1.1em;
}
:-webkit-scrollbar {
  display: none;
}
* {

  box-sizing: border-box;
}
body {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}
#main {
width:80%;
 box-sizing: border-box;
 margin:auto;
}


h1, h2, h3 {font-family: 'Comic Sans MS', monospace;
color:red;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;}
h1 {font-size:2.3em;}
h2 {font-size:1.8em;}
h3 {font-size:1.4em;}
p {margin:2%}
.box2 a{color:blue;
  text-decoration:none;}
  .box2 a:hover{color:red;
  text-decoration:underline;}
  .box2 a:active{color:purple;
  text-decoration:underline;}
 .box2 a:visited{color:purple;}
.box {
  background-color: #ffffff;
  border: .1em black solid;
  margin-top:.5%;
  margin-left:auto;
  margin-right:auto;
  padding:.5%;
}

.box2 {
  background-color: #ffffff;
  margin-top:.5%; 
  padding:1%;
  overflow-y:scroll;
   -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
html { scrollbar-width: none; } /* Firefox */
body { -ms-overflow-style: none; } /* IE and Edge */
body::-webkit-scrollbar, body::-webkit-scrollbar-button { display: none; } /* Chrome */

ul {list-style-type:none;}
#contain {
  display:         flex;
  flex-wrap:       wrap;
  justify-content: center;
 gap:1.5%;
}

.date {border-bottom: .2em dashed blue;
text-align: right;}

:root {
                --body-bg-image: url('https://i.imgur.com/RdOdnfp.gif');
            }

html{ overflow-y:scroll; }


h1, h2, h3 {font-family: Verdana, monospace;
font-variant:small-caps;}
h1 {font-size:2.3em;}
h2 {font-size:1.8em;}

p {font-size:1em;}
.gallery {display:inline-block;
width:100%;
font-variant:small-caps;
  font-size:1.2em;
}
.gallery img{transition:all 0.2s linear;}
.gallery img:hover {transform: scale(1.5);}
.blur { -webkit-filter: blur(3px);
 filter: blur(3px);}
  .blur:hover {-webkit-filter: blur(0);
 filter: blur(0);
 -webkit-transition: .3s ease-in-out;
 transition: .3s ease-in-out;}
#container {
  max-width:1040px;
 margin:auto;
  }
  body a{color:blue;
  text-decoration:none;}
  body a:hover{color:red;
  text-decoration:underline;}
  body a:active{color:purple;
  text-decoration:underline;}

  .navi{
  padding:.5%;
  text-align:center;
  background-color:white;
    word-spacing:2em;
  width:97%;}
@media (max-width: 600px) {
    #main {width:100%;}
    #shortnav {height:auto;}
    #ads {display:none;}
    #abs {display:none;}
.box {width:100% !important;}
.box2 {width:100% !important;}
 @media (max-width:800px) {
  #main {width:100%;}
 }
 @media (max-width:1000px) {
  #main {width:70% !important;}
 }

 @media (max-width:1250px) {
  #main {width:70% !important;}
 }
  .navbar a{color:black!important;}
  .navbar a:hover{color:red!important;
  text-shadow:
    1px 1px 0 #000,
    -1px 1px 0 #000,
    -1px -1px 0 #000,
    1px -1px 0 #000;
    text-decoration:none !important;}
  main {width:100%;}

  @media screen and (max-width: 600px) {
    #container {width:100%;}
    .navbar {flex-direction:column;}
    .top {width:90%;
    margin:auto;
    }
    .gallery img{width:70%}
    .floaty {display:flex;
  flex-direction:column;}
    .mouse2{width:100%;
    margin:auto;
    }
    .mouse1{width:100%;
    margin:auto;
    justify-content:center;}
    .mouse1 marquee{width:100%;}
    .mouse1 marquee img{width:40%;}
    .navi {margin-left:auto;
    margin-top:1em;
    font-size:90%;}
    .mouse1 {
    margin: 0;}}}
